@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Lato|Merienda');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    padding: 0 auto;
    min-width: 430px;
}
/* ------------Welcome page--------- */
.welcome{
    width:100%;
    height: 100vh;
    background-image: url('../img/welcome-bk.gif');
    background-position: center;
   background-size: cover;
   background-attachment: fixed;
}
.welcome-holder{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.self-port{
    height: 250px;
    display: none;
}
.welcome-holder .welcome-text{
    position: relative;
    top: 420px;
}
.welcome-text{
    color: #fff;
   font-size: 3em;
   text-align: center;
   font-family: 'Lato', sans-serif;
}
.ashkan{
    font-size: 1em;
    color: #e31a6d;
    font-family: 'Merienda', cursive;
}
.btn{
    margin-top: 10px;
    height: 50px;
    width: 130px;
    color: #fff;
    background-color:transparent;
    font-family: 'Merienda', cursive;
    font-size: 1em;
    transition: all 0.6s;
}
.btn:hover{
    border: 1px solid #fff;
    background-color: #404040;
    color: #fff;
    transition: all 0.6s;
}
/* --------End of welcome---------- */
/* --------Nav---------- */
.navbar-default{
    background-color: #e6e6e6;
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 0;
    position: sticky;
    top: 0;
    z-index: 10;
}
.line-div{
    height: 3px;
    width: 100%;
    background-color: #5e81c8;
}
.logo{
    width: 100px;
}
.nav li a:hover{
    background-color:transparent;
} 

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: rgba(17,17,17,.5);
}
navbar-default .navbar-nav>li>a{
    color: #fcfcfc;
    text-shadow: 1px 1px 2px #0a0a0a;
}


/* --------End Nav---------- */
/* --------Home---------- */
.about{
    z-index: -1;
    height: 1000px;
    background-color: #f2f2f2;
}
.about-row{
    position: relative;
    left: 10px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.about-text{
    font-family: 'Crimson Text', serif;
    color: #1a232f;
    font-size: 3em;
}
.about-underline{
    height: 2px;
    width: 90px;
    background-color:  #7a97d1; 
}
.bio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center
}
.bio-holder{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    top: 90px;
    left: 150px;
    
}
.portrait{
    height: 250px;
    width: 450px;
}
.bio-text{
    width: 450px;
    text-align: center;
    font-size: 1.2em;
}
.bio-text > span{
    color: blue;
}
.skills{
    width: 40%;
    height: 500px;
    position: relative;
    top: 100px;
    right: 100px;
    padding: 20px;
    background-color: grey;
    box-sizing: border-box;
    box-shadow: 0 20px 50px #404040;
}
.skills > h1{
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2em;
}
.skill-box{
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    height: 40px;
    line-height: 10px;
}
.skill-box p{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-family: bold;
    letter-spacing: 1px;

}
.skill-box p:nth-child(2){
    float: right;
    position: relative;
    top: -25px;
}
.skill{
    background: #262626;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 2px;
}
.skill-level{
    background: #7a97d1;
    width: 100%;
    height:11px;
   
}
.symbol{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 200px;
}
.symbol div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.symbol div i{
    font-size: 5em;
    color: #7a97d1;
    margin-bottom: 10px;
}
.symbol div span{
    font-size: 16px;
    text-align: center;
}
/* --------End of home---------- */
/* ---------Portfolio---------- */
.portfolio-row{
    position: relative;
    left: 10px;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.portfolio-text{
    color: #1a232f;
    font-size: 3em;
    font-family: 'Crimson Text', serif;
}
.portfolio-underline{
    height: 2px;
    width: 180px;
    background-color:  #7a97d1; 
}
.art-work{
    position: relative;
    left: 100px;
    top: 50px;
    width: 90%;
}
.art-work > span, .art-work2 >span{
    text-align:center;
}
.art{
    width: 500px;
    height: 400px;
}
.art-work2{
    position: relative;
    left: 110px;
    width: 90%;
}
.art2{
    width: 500px;
    height: 400px;
}
/* ----------End of portfolio---- */
/* --------Media--------- */
@media  screen and (max-width:1250px){
    .bio{
        display: flex;
        
        
    }
}
@media screen and (max-width:1204px){
    .bio-holder{
        position: relative;
        left: 20px;
    }
}
@media screen and (max-width:970px){
    .about{
        height: 1300px;
    }
    .skills{
        position: relative;
        left: 20px;
    }
    .bio{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width:758px){
    .self-port{
        display: block;
        z-index: 10;
        height: 250px;
        transition: all0.5s ease;
    }
    .welcome-holder .welcome-text{
        position: relative;
        top: 130px;
    }
}
@media screen and (max-width:439px){
    .about{
        height: 1650px;
    }
    .about-text,.about-underline{
        position: relative;
        left: -35px;
    }
    .bio-holder{
        position: relative;
        left: -20px;
    }
    .bio-text{
        width: 250px;
    }
    .bio{
        display: flex;
        flex-direction: column;
    }
    .skills{
        position: relative;
        left: -30px;
        width: 350px;
    }
    .symbol{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 130px;
        left: 90px;
    }
}
